.*.swp
.bash_login
.bash_logout
.bashrc
.fontconfig/
.format
.gitconfig
.home/
.htpasswd
.hushlogin
.inputrc
.lesshst
.multitailrc
.my.cnf
.mysql_history
.ssh/
.vim/
.vimrc
bin/
logs/

# Local config file
www/conf.php

# These are generated
www/img/age.png
www/img/colour.png
www/img/grade.png
