body {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

div#notify_area {
	padding: 5px;
	padding-right: 20px;
	border: 2px solid #666;
	background: #f90 url(../style/icon_close.png) no-repeat right top;
	margin: 1em;
	display: none;
	font-family: monospace;
	white-space: pre;
	font-size: 75%;
}

div.grade {
	background-image: url(../img/grades.png);
	border: 1px solid black;
	width: 500px;
	height: 30px;
}

div.marker {
	background: red;
	width: 2px;
	height: 30px;
}

div.header {
	background: #dfd;
	color: #000;
	margin: 0;
	padding: 8px;
	font-weight: bold;
}

div.footer {
	height: 20px;
	background: #dfd;
	color: #000;
	margin: 0;
	padding: 5px;
	font-size: 50%;
	margin-left: 150px;
}

span {
	font-size: 75%;
	font-weight: normal;
}

div.menu {
	width: 150px;
	background: #dfd;
	color: #000;
	float: left;
	margin: 0;
	height: 100%;
	position: fixed;
}

div.menu h1 {
	background: #dfd;
	color: #000;
	padding-left: 0.5em;
	margin: 0;
	font-size: 120%;
}

div.menu ul {
	list-style: none;
	padding-left: 1.5em;
	margin-top: 0;
}

div.menu img {
	padding: 5px;
}

div.content {
	margin-left: 160px;
	background: #fff;
	padding: 0;
}

input, textarea, .checkbox {
	border: 1px solid #ccc;
	padding: 2px;
	background: inherit;
	color: #000;
}

input.default {
	border: 2px solid #ccc;
	background: inherit;
}

input:focus, textarea:focus {
	border: 1px solid #000;
}

input.default:focus {
	border: 2px solid #000;
}

input.mand, textarea.mand, tr.mand {
	color: inherit;
	background: #fee;
}

label {
	display: inline;
	width: 5em;
	float: left;
	clear: both;
}

input.checkbox {
	margin-left: 0;
	width: 1em;
	height: 1em;
}

table {
	border-collapse: collapse;
}

th, dt {
	font-weight: bold;
}

th, td {
	border: 1px solid #ccc;
	text-align: left;
	padding: 0 0.5em 0 0.5em;
}

td.right {
	text-align: right;
}

table input {
	border: 1px solid transparent;
}

h2 {
	margin: 0 0 1em 0;
	font-size: 110%;
}

div.error {
	clear: both;
	border: 3px solid red;
}

img {
	border: 0px;
}

span.download {
	margin-top: -15px;
	float: right;
	padding: 5px 5px 0 0;
}

div.title {
	background: #dfd;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: -10px;
	left: 150px;
	margin-bottom: 10px;
}

div.title h1 {
	display: inline;
	font-size: 150%;
}

div.title span {
	font-size: 75%;
	color: grey;
}

tr:hover {
	background: #dfd;
}

input.enabled {
	border: 2px outset ButtonFace;
}

input.disabled {
	color: #cccccc;
	border: 2px outset ButtonFace;
}

h3 {
	color: #8a8;
	font-size: 75%;
	padding: 0;
	margin: 0;
}

input.error {
	background: #faa;
}

