body {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

div#notify_area {
	padding: 5px;
	padding-right: 20px;
	border: 2px solid #666;
	background: #f90 url(../style/icon_close.png) no-repeat right top;
	margin: 1em;
	display: none;
}

div.grade {
	background-image: url(../img/grades.png);
	border: 1px solid black;
	width: 500px;
	height: 30px;
}

div.marker {
	background: red;
	width: 2px;
	height: 30px;
}

div.header {
	background: #dfd;
	color: #000;
	margin: 0;
	padding: 8px;
	font-weight: bold;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 70px;
	background: #dfd;
	padding-top: 2px;
	padding-left: 2px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 2px;
	background: #dfd;
	color: #000;
	margin: 0;
	padding: 0;
	font-size: 50%;
}

#footer:hover {
	height: 20px;
	padding: 5px;
}

* html #footer {
	position: absolute;
	bottom: -1px;
}

span {
	font-size: 75%;
	font-weight: normal;
}

#menu {
	position: fixed;
	left: 0;
	top: 72px;
	bottom: 0;
	padding: 0;
	width: 150px;
	background: #dfd;
	color: #000;
}

#menu h1 {
	background: #dfd;
	color: #000;
	padding-left: 0.5em;
	margin: 0;
	font-size: 120%;
}

#menu ul {
	list-style: none;
	padding-left: 1.5em;
	margin-top: 0;
}

#content {
	position: relative;
	z-index: 2;
	margin-top: 72px;
	margin-bottom: 20px;
	margin-left: 160px;
	min-height: 100%;
	background: #fff;
	padding: 0;
}

input, textarea, .checkbox {
	border: 1px solid #ccc;
	padding: 2px;
	background: inherit;
	color: #000;
}

input.default {
	border: 2px solid #ccc;
	background: inherit;
}

input:focus, textarea:focus {
	border: 1px solid #000;
}

input.default:focus {
	border: 2px solid #000;
}

input.mand, textarea.mand, tr.mand {
	color: inherit;
	background: #fee;
}

label {
	display: inline;
	width: 5em;
	float: left;
	clear: both;
}

input.checkbox {
	margin-left: 0;
	width: 1em;
	height: 1em;
}

table {
	border-collapse: collapse;
}

th, dt {
	font-weight: bold;
}

th, td {
	border: 1px solid #ccc;
	text-align: left;
	padding: 0 0.5em 0 0.5em;
}

td.right {
	text-align: right;
}

table input {
	border: 1px solid transparent;
}

h2 {
	margin: 0 0 1em 0;
	font-size: 110%;
}

div.error {
	clear: both;
	border: 3px solid red;
}

img {
	border: 0px;
}

div#download {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px 5px 0 0;
	margin: 0;
	z-index: 150;
}

div#title {
	margin: 0;
	position: fixed;
	top: 20px;
	left: 150px;
	z-index: 150;
}

div#title h1 {
	font-size: 150%;
}

div#title span {
	font-size: 75%;
	color: grey;
}

tr:hover {
	background: #dfd;
}

input.enabled {
	border: 2px outset ButtonFace;
}

input.disabled {
	color: #cccccc;
	border: 2px outset ButtonFace;
}

h3 {
	color: #8a8;
	font-size: 75%;
	padding: 0;
	margin: 0;
}

