<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 4 hours"
</ifModule>

# russon.org
SetEnvIf Remote_Addr "78\.129\.239\.63" dontlog
# home (@virgin)
SetEnvIf Remote_Addr "82\.8\.178\.149" dontlog

SetEnvIf Request_URI "^/robots\.txt$" dontlog

SetEnvIf Request_URI \.gif dontlog
SetEnvIf Request_URI \.jpg dontlog
SetEnvIf Request_URI \.png dontlog
SetEnvIf Request_URI \.ico dontlog
SetEnvIf Request_URI \.css dontlog

